/* line 6, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.formStyle, .formButton, .formresetButton, .submitButton {
  margin-left: 1%;
}

/* line 10, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.formButton, .formresetButton, .submitButton {
  background: green;
  color: white;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: large;
}

/* line 21, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.formresetButton {
  background: red;
  margin-top: 10px;
}

/* line 27, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.submitButton {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: large;
}

/* line 35, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.submitButtonHide {
  display: none;
}

/* line 39, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
h1, h2 {
  text-align: center;
}

/* line 43, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.title, .id {
  font-weight: bold;
}

/* line 47, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.title, .id, .author, .description {
  padding: 2px;
  margin-top: 0;
  margin-left: 3%;
}

/* line 53, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.booklist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* line 57, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.booklist .book {
  background: LightGray;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  height: 400px;
  display: flex;
  flex-direction: column;
  border-width: 3px;
  border-style: solid;
}

/* line 65, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.booklist .book .description {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4em;
  line-height: 1em;
}

/* line 73, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.booklist .book .thumbnail {
  display: block;
  margin: auto auto auto auto;
  max-width: 240px;
  max-height: 360px;
}

/* line 80, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
.booklist .book .flag {
  display: flex;
  margin: 0 0 0 auto;
  cursor: pointer;
  padding-right: 7px;
  padding-top: 5px;
}

@media only screen and (max-width: 320px) {
  /*style for smart phones*/
  /* line 92, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
  .bookmark {
    max-width: 30px;
    max-height: 20px;
  }
  /* line 97, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
  .book {
    width: 90%;
    margin: 1em;
  }
}

@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style for tablets*/
  /* line 105, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
  .bookmark {
    max-width: 30px;
    max-height: 20px;
  }
  /* line 110, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
  .book {
    width: 90%;
    margin: 1em;
  }
}

@media only screen and (min-width: 800px) {
  /*style for all other screens*/
  /* line 118, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
  .bookmark {
    max-width: 30px;
    max-height: 20px;
  }
  /* line 123, D:/OpenClassroom/P6/Poch-libe/SASS/book.scss */
  .book {
    width: 30%;
    margin: 1em;
  }
}

/*# sourceMappingURL=book.css.map */