@mixin theme($theme: LightGray) {
    background: $theme;
    box-shadow: 0 0 1px rgba(Black, .25);
}

.formStyle{
    margin-left:1%;
}

.formButton{
    @extend .formStyle;
    background:green;
    color:white;
    width:150px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
    font-size:large;
}

.formresetButton{
    @extend .formButton;
    background:red;
    margin-top:10px;
}

.submitButton{
    @extend .formButton;
    display:flex;
    margin:auto;
    justify-content: center;
    font-size: large;
}

.submitButtonHide{
    display:none;
}

h1,h2{
    text-align:center;
}

.title, .id{
    font-weight: bold;
}

.title,.id,.author,.description{
    padding:2px;
    margin-top:0;
    margin-left:3%;
}

.booklist{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    .book{
        @include theme;
        height:400px;
        display:flex;
        flex-direction: column;
        border-width: 3px;
        border-style: solid;

        .description{
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 4em;
            line-height: 1em;
        }
        
        .thumbnail{
            display:block;
            margin:auto auto auto auto;
            max-width: 240px;
            max-height: 360px;
        }

        .flag{
            display: flex;
            margin:0 0 0 auto;
            cursor: pointer;
            padding-right:7px;
            padding-top:5px;
        }
    }
}

@media only screen and (max-width: 320px){
    /*style for smart phones*/
    .bookmark{
        max-width: 30px;
        max-height: 20px;
    }

    .book{
        width: 90%;
        margin:1em;
    }
}
    
    @media only screen and (min-width: 321px) and (max-width: 799px){
    /*style for tablets*/
    .bookmark{
        max-width: 30px;
        max-height: 20px;
    } 
    
    .book{
        width: 90%;
        margin:1em;
    }
}
    
    @media only screen and (min-width: 800px){
    /*style for all other screens*/
    .bookmark{
        max-width: 30px;
        max-height: 20px;
    }

    .book{
        width: 30%;
        margin:1em;
    }
}